In [1]:
import pandas as pd
boardgames_df = pd.read_csv("../data/raw/boardgames_df_raw.csv")



boardgames_df["minimum_age"] = boardgames_df["minimum_age"].replace(0, 4)
age_df = boardgames_df[["minimum_age"]]

# Save to new CSV
age_df.to_csv("age.csv", index=False)

age_df

      minimum_age
0              14
1              13
2              14
3              14
4              14
...           ...
1995           10
1996           14
1997            8
1998           12
1999           12

[2000 rows x 1 columns]

In [ ]:
import pandas as pd
boardgames_df = pd.read_csv("../data/raw/boardgames_df_raw.csv")
boardgames_df
player_df = boardgames_df[["min_players", "max_players"]]

# Save to new CSV
player_df.to_csv("player.csv", index=False)

player_df

In [ ]:
complexity_df = boardgames_df[["complexity"]]

# Save to new CSV
complexity_df.to_csv("complexity.csv", index=False)

complexity_df

In [ ]:
playtime_df = boardgames_df[["min_playtime", "max_playtime"]]

# Save to new CSV
playtime_df.to_csv("playtime.csv", index=False)

playtime_df