In [9]:
import pandas as pd
import numpy as np

url = "/Users/Ricardo/Desktop/IRONHACK/Bootcamp/Week_4/Project/Project_w4/data/clean/boardgames_df_cleaned.csv"

boardgames = pd.read_csv(url)
boardgames.head()

,row_id,boardgame,min_players,max_players,min_playtime,max_playtime,minimum_age,avg_rating,num_ratings,complexity,wishlisted,total_plays,amazon_price,categories,url,description
0,1,Brass: Birmingham,2,4,60,120,14,8.575,53548,3.87,20334,152594,69.95,Age of Reason; Economic; Industry / Manufactur...,https://boardgamegeek.com/boardgame/224517/bra...,"Build networks, grow industries, and navigate ..."
1,2,Pandemic Legacy: Season 1,2,4,60,60,13,8.512,56071,2.83,14478,301410,76.97,Environmental; Medical,https://boardgamegeek.com/boardgame/161936/pan...,Mutating diseases are spreading around the wor...
2,3,Ark Nova,1,4,90,150,14,8.539,54528,3.79,16121,528979,71.81,Animals; Card Game; Economic; Environmental,https://boardgamegeek.com/boardgame/342942/ark...,"Plan and build a modern, scientifically manage..."
3,4,Gloomhaven,1,4,60,120,14,8.557,65443,3.92,21597,542336,NaN,Adventure; Exploration; Fantasy; Fighting; Min...,https://boardgamegeek.com/boardgame/174430/glo...,Vanquish monsters with strategic cardplay. Ful...
4,5,Twilight Imperium: Fourth Edition,3,6,240,480,14,8.572,26686,4.34,12449,49484,172.29,Civilization; Economic; Exploration; Negotiati...,https://boardgamegeek.com/boardgame/233078/twi...,"Build an intergalactic empire through trade, r..."

In [10]:
#Top 10 most played overall

top10_overall = boardgames[["boardgame", "total_plays"]].nlargest(10, "total_plays") #is reset_index needed? .reset_index(drop=True)
display(top10_overall)

                boardgame  total_plays
139              Dominion       863239
89                   Azul       817173
34               Wingspan       768920
166  Magic: The Gathering       765247
87    Race for the Galaxy       761848
6       Terraforming Mars       740148
232           Carcassonne       707508
234              Splendor       641644
108             7 Wonders       639978
155             Codenames       632713

In [11]:
#Top 10 ranked games

top10_ranking = boardgames[["boardgame", "avg_rating"]].nlargest(10, "avg_rating") #is reset_index needed? .reset_index(drop=True)
display(top10_ranking)

                                              boardgame  avg_rating
507                     Arydia: The Paths We Dare Tread       9.158
1510  System Gateway (fan expansion for Android: Net...       9.113
432       The Elder Scrolls: Betrayal of the Second Era       9.039
577                              Aeon Trespass: Odyssey       9.013
1458                                           Agemonia       8.945
61                         Oathsworn: Into the Deepwood       8.822
1337                        Too Many Bones: Unbreakable       8.820
1241       Cthulhu: Death May Die – Fear of the Unknown       8.786
21                                           Frosthaven       8.773
9                             Dune: Imperium – Uprising       8.707

In [12]:
#Top 10 wishlisted games

top10_wishlisted = boardgames[["boardgame", "wishlisted"]].nlargest(10, "wishlisted") #is reset_index needed? .reset_index(drop=True)
display(top10_wishlisted)

            boardgame  wishlisted
6   Terraforming Mars       25730
18             Scythe       25439
10      Spirit Island       23844
29               Root       22851
41           Everdell       22060
3          Gloomhaven       21597
34           Wingspan       20695
0   Brass: Birmingham       20334
63      Sleeping Gods       16367
2            Ark Nova       16121